<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles/styles.css">
  <title>Вход</title>
</head>
<body>
<div class="container">
  <h1>Вход</h1>

  <form method="POST" action="/login">
    <label for="username">Имя пользователя:</label><br/>
    <input type="text" id="username" name="username" required><br/><br/>

    <label for="password">Пароль:</label><br/>
    <input type="password" id="password" name="password" required><br/><br/>

    <input type="submit" value="Войти">
  </form>
</div>
</body>
</html>
